DATABASE_URL=
DATABASE_CA_CERT_PATH=

BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_TRUSTED_ORIGINS=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Sentry monitoring
VITE_SENTRY_DSN=
SENTRY_DSN=
SENTRY_ENVIRONMENT=

# VITE_SENTRY_TEST_ROUTES_ENABLED=true
# SENTRY_TEST_ROUTES_ENABLED=true
